* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#canvas1 {
    width: 420px;
    height: 560px;
    border: 4px solid rgb(12, 3, 143);
    background-color: rgb(179, 167, 167);
}